

@charset "ISO-8859-1";

body {
    background-color: rgb(205, 205, 205);
    color: black;
    font-family: Verdana, Sans-serif;
    font-size: 1.2em;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-width: medium;
}

.encabezado{
	text-align: center;
}

.superior{
    background-image: url(https://www.uik.eus/sites/default/files/cursos_251);
    background-position: center;
    MARGIN: 0;
    PADDING: 1em 1.5em;
    TEXT-ALIGN: CENTER;
}

/*titulo*/
h1 {
    margin:0;
    padding: 0;
    color: white;
}

.tabla,
.datos{


    margin: 2em auto;
    width: 100%;
    TEXT-ALIGN: CENTER;

}
.campos{

    margin: 2em auto;
    width: 100%;
    TEXT-ALIGN: CENTER;
}
.FormaDeLista{
    text-align: left;
    margin-left: 30%;
}

.FormaList{
    text-align: left;
}


body{

    /*separacion entre las columnas y filas*/
   grid-row-gap: 20px;
    grid-column-gap: 20px;
    /*cantidad de filas*/
    grid-template-columns: repeat(2, 1fr);
    /*cantidad de columnas*/
   grid-template-rows: repeat(6, auto);
    /*especificar el contenido de filas y columnas con cada elemento*/
    grid-template-areas: " superior superior superior superior superior superior"
                            "medio medio medio medio medio medio";
}

@media screen and (max-width: 768px){
    body{
        
        grid-template-areas: " superior superior superior superior superior superior"
                                "medio medio medio medio medio medio";
    }
}
.usuarios{

    /*separacion entre las columnas y filas*/
   grid-row-gap: 20px;
    grid-column-gap: 20px;
    /*cantidad de filas*/
    grid-template-columns: repeat(2, 1fr);
    /*cantidad de columnas*/
   grid-template-rows: repeat(5, auto);
    /*especificar el contenido de filas y columnas con cada elemento*/
    grid-template-areas: " superior superior superior superior superior"
                            "medio medio medio medio medio";
}

@media screen and (max-width: 768px){
    .usuarios{
        grid-template-areas: " superior superior superior superior superior"
                                "medio medio medio medio medio";
    }
}


.superior{
    grid-area: superior;
}

.medio{
    grid-area: medio;
}
.footer{
    text-align: center;

}
/*------------------------------------------------*/

p {margin: 1em 00;
    color: black;
    
}

.parrafo {
    
    color: #2c363d;
text-align: justify;
}




.division {
    padding: 0.8em 1em;
    margin: 2em;
       
    height: 400px;
    width: 80%;
    text-align: center;
}
/*.encabezado {
    background-color: #3d95d3;
    MARGIN: 0;
    PADDING: 1em 1.5em;
    TEXT-ALIGN: CENTER;
}*/




.formulario {
    background-color: #cccccc;
    border: 1px solid #AAAAAA;
    margin: 2em auto;
    width: 75%;
}

.campo {
    margin: 0.5em 1.5em;
    padding: 0.5em 0;
    color: #2c363d;
}

.campo label {
    display: block;
    color: #2c363d;

}

.campo .en-linea {
    display: inline-block;
    color: #2c363d;
}

.campo .en-linea.izquierdo {
    margin-right: 2em;
    color: #2c363d;
}
.botones {
    text-align: center;


}


.formulario .botones {
    background-color: #AAAAAA;
   margin: 0;
    padding: 1em 1.5em;
}

button,input[type=button] {
    text-align: center;
    background-color: #00AAEE;
    border: 1px solid #0099DD;
    color: #FFFFFF;
    font-size:  1em;
    font-weight: bold;
    padding: 0.5em 1em;
}

button :hover,input[type=submit]:hover,
button :focus,input[type=submit]:focus {
    background-color: #33CCFF;
}

button :active,input[type=submit]:active {
    background-color: #0077BB;
    border: 1px solid #0066AA;
    color:#DDDDDD;
}

button :disabled,input[type=submit]:disabled {
    opacity: 0.5;
}

input:invalid:required{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.404);
    border: 3px solid #dd0000;

}